@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("https://images.pexels.com/photos/316080/pexels-photo-316080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("https://images.pexels.com/photos/316080/pexels-photo-316080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-title {
  font-size: 15rem;
  font-weight: 700;
}

.small-title {
  font-weight: 700;
}

@media (max-width: 576px) {
  .masthead {
    min-height: 100vh;
    height: 100%;
  }
  .quiz-title {
    font-size: 6rem;
  }
  .img {
    max-width: 100%;
    height: auto;
  }
  .question-container h3 {
    font-size: 1rem;
  }
  .answers {
    font-size: 5px;
    min-width: 100%;
  }
  .answerAlert {
    text-align: center;
  }
  .img-container {
  padding-bottom: 5%;
  }
}

.answers {
  border: 1px solid #D55140;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: white;
  font-size: 1rem;
  display: block;
  padding: 5%;
  margin-bottom: 5%;
  width: 90%;
}

.question-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.answers:hover, .btn {
  background-color: #D55140;
  color: white;
}

.btn {
  border: none;
}

.btn:hover {
  background-color: #343437;
}

.img {
  width: 90%;
  display: block;
}

.gif {
  display: block;
}

.play-again {
  margin: 2%;
}

.wrong-answer {
  color: #D55140;
}
